/*Dropdown Menu*/
.dropdown-menu {
  float: right;
  background-color: #333333;
  /* border-radius: 5px; */
  padding: 10px;
  color: rgb(200, 200, 200);
  font-size: 20px;
  transform: translateY(20%);
}

/*Dropdown Item*/
.dropdown-item {
  color: rgb(200, 200, 200);
  padding: 10px;
  background-color: #333333;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
}

/*Hover Effect*/
.dropdown-item:hover {
  background-color: #222222;
}
