.win-screen {
  position: fixed;
  top: 50%;
  left: 40%;
  font-size: 40px;
  background-color: black;
  padding: 10px;
  border-radius: 25px;
}

.win-screen-button {
  position: fixed;
  top: 60%;
  left: 46.5%;
  background-color: black;
  font-size: 30px;
  color: white;
  padding: 10px;
  border-radius: 25px;
}
