.container {
  display: grid;
  height: 1000px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.box1 {
  /* Header */
  grid-column: 1 / 4;
  grid-row: 1;
}

.box2 {
  /* Current Page */
  grid-column: 1 / 6;
  grid-row: 2/10;
  overflow-y: scroll;
}

.box3 {
  /* Target Page */
  grid-column: 6 / 8;
  grid-row: 1;
}
